
eEducation.xcodeproj/project.xcworkspace/contents.xcworkspacedata

eEducation.xcodeproj/project.xcworkspace/xcuserdata/gbo.xcuserdatad/UserInterfaceState.xcuserstate

node_modules

.DS_Store

eEducation.xcodeproj/project.xcworkspace/xcuserdata/*
eEducation.xcodeproj/xcuserdata/ep3.xcuserdatad/xcschemes/eEducation.xcscheme

eEducation.xcodeproj/xcuserdata/ep3.xcuserdatad/xcschemes/eEducation1.xcscheme

eEducation.xcodeproj/xcuserdata/ep3.xcuserdatad/xcschemes/xcschememanagement.plist

node.debug
.nide
