
eEducation.xcodeproj/project.xcworkspace/contents.xcworkspacedata

eEducation.xcodeproj/project.xcworkspace/xcuserdata/gbo.xcuserdatad/UserInterfaceState.xcuserstate

node_modules

.DS_Store

eEducation.xcodeproj/project.xcworkspace/xcuserdata/ep3.xcuserdatad/UserInterfaceState.xcuserstate
