!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
        script(src='http://code.jquery.com/jquery-1.7.2.js')
  body
    block content
        p default content
    block foot
        #foot 
            p guanbo2002#gmail.com
<!--  body!= body -->