!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.7.2.js')
    script(src='/javascripts/login.js') 
    block scripts
  body
    block topbar
      #bar
          #container
            #loginContainer
              a#loginButton(href='#')
                span#screenText 登陆
                em
              div(style='clear: both;')
              #loginBox
                form#loginForm(method='post', action='/login')
                  fieldset#body
                    fieldset
                      label(for='email') 邮件地址
                      input#email(type='text', name='email')
                    fieldset
                      label(for='password') 密码
                      input#password(type='password', name='password')
                    input#signin(type='button', value='登陆')
                    label(for='checkbox')
                      input#checkbox(type='checkbox', name='remember')
                      | 记住我
                  span
                    a(href='#') 忘记密码？
                    
    block content
        p Welcome to #{title}
    block foot
        #foot 
            p guanbo2002#gmail.com

<!--  body!= body -->